<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Info</title>
  </head>
  <body>
    <form action="/tracker/view" class="hidden_forms" method="POST">
      <input type="hidden" name="username" value="<%=username%>" />
      <button id="cancel_btn" type="submit">Cancel</button>
    </form>
    <% if(data["Response"] == 'True'){ %> <img src="<%=data["Poster"]%>"
    alt="poster of movie lol">
    <h1>Movie info</h1>

    <h2>Title: <%=data["Title"]%></h2>
    <h3>Plot</h3>
    <p><%=data["Plot"]%></p>
    <h3>Release date: <%=data["Released"]%></h3>
    <h3>Genre: <%=data["Genre"]%></h3>
    <h3>Directors: <%=data["Director"]%></h3>
    <h3>Awards: <%=data["Awards"]%></h3>
    <h3>Ratings</h3>
    <% for(var i=0; i < data["Ratings"].length; i++) { %>
    <p><%= data["Ratings"][i]["Source"]%>: <%= data["Ratings"][i]["Value"]%></p>
    <% } %> <% } else{ %>
    <h1>Movie not found</h1>
    <% } %>
    <h3>Box Office: <%=data["BoxOffice"]%></h3>
  </body>
</html>
