<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/view.css" type="text/css">
    <script type="text/javascript" src="/assets/scripts/search.js"></script>
    <title>View</title>
  </head>

  <body class="dark-theme">
    <nav>
      <div class="logolink">
        <a href="/"
          ><img src="/assets/images/logo.png" alt="MovieTracker Logo"
        /></a>
      </div>
      <div class="navheading">
        <h1>BCIT Computing, Spring 2022, ACIT 2911</h1>
      </div>
      <div class="githublink">
        <a href="https://github.com/chrismok17/2911-Group-5" target="_blank"
          ><img
            src="/assets/images/GitHubLogo.png"
            alt="GitHub Repository Logo and Link"
        /></a>
      </div>
    </nav>
    <main>
      <div class="title_row">
        <h1>Your Current Watchlist: <%= username%> [Movies:<%= movies.length%>]</h1>
        <input type="text" id="searchbar" onkeyup="search()" placeholder="Search...">
        <form action="/tracker/form/<%=username%>" method="GET">
          <button type="submit">Add Movie</button>
        </form>
      </div>
      <table id="viewtable">
        <tr id="table_header_row">
          <th onclick="sort(0)">Name</th>
          <th onclick="sort(1)">Genre</th>
          <th onclick="sort(2)">Release Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        <% for(var i=0; i < movies.length; i++) { %>
        <tr class="table_row_odd">
          <td><%=movies[i]["name"]%></td>
          <td><%=movies[i]["genre"]%></td>
          <td><%=movies[i]["release_date"]%></td>
          <% if (movies[i]["status"] == true) { %>
            <td><div class="watched"></div></td>
          <% } else { %>
            <td><div class="unwatched"></div></td>
          <% } %>
          <td class="action_buttons_container">
            <form action="/tracker/form/edit" method="POST">
              <input type="hidden" name="id" value="<%=movies[i]["_id"]%>" >
              <input type="hidden" name="username" value="<%=username%>" />
              <input type="hidden" name="release_date"
              value="<%=movies[i]["release_date"]%>" /> <input type="hidden"
              name="name" value="<%=movies[i]["name"]%>" /> <input type="hidden"
              name="genre" value="<%=movies[i]["genre"]%>" /> <input
              type="hidden" name="status" value="<%=movies[i]["status"]%>" />

              <button type="submit">Edit</button>
            </form>
            <form method="POST" action="/tracker/delete/<%=movies[i]["_id"]%>">
              <input type="hidden" name="username" value="<%=username%>"/>
              <button onclick="return confirm('Are you sure you want to delete?')" type="submit" class="delete_button">Delete</button>
            </form>
            <form method="POST" action="/tracker/info">
              <input type="hidden" name="username" value="<%=username%>" />
              <input type="hidden" name="name" value="<%=movies[i]["name"]%>" />
              <input type="hidden" name="year" value="<%=movies[i]["release_date"]%>"/>

              <button class="info-btn" type="Submit">Summary</button>
            </form>
          </td>
        </tr>
        <% }%>
      </table>
    </main>
  </body>
</html>
